.btn {
  display: inline-flex;
  vertical-align: middle;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &--transparent {
    background-color: transparent;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
