.contacts {
  padding: 120px 0 113px 0;

  @include vp-1023 {
    padding: 100px 0 97px 0;
  }

  @include vp-767 {
    padding: 44px 0 67px 0;
  }
}

.contacts__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include vp-767 {
    flex-direction: column;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  max-width: 560px;
  height: 0;
  padding-bottom: 27%;
  margin: 0 30px 0 0;

  @include vp-1023 {
    padding-bottom: 50%;
  }

  @include vp-767 {
    padding-bottom: 109%;
    margin: 0;
    order: 1;
  }
}

.contacts__map iframe {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.contacts__map--not-js {
  padding-bottom: 0;
  height: 100%;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/sprite/address.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 22px;
    left: 45%;
    bottom: 23%;
  }

  @include vp-1023 {
    padding-bottom: 0;
    height: 335px;

    &::before {
      left: 40%;
    }
  }

  @include vp-767 {
    padding-bottom: 0;
    height: 314px;
  }
}

.contacts__map--not-js .contacts__image {
  height: 100%;
}

.contacts__data {
  display: inline-block;
  vertical-align: middle;
  max-width: 500px;
  width: 100%;
  margin: 14px 0 0 0;

  @include vp-767 {
    margin: 14px 0 13px 0;
  }
}

.contacts__data p {
  margin: 0 0 33px 0;

  font-family: $ff-montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-tangaroa;

  @include vp-1023 {
    margin: 0 0 27px 0;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contacts__item {
  margin: 0 0 22px 0;
}

.contacts__link {
  position: relative;
  padding: 0 0 0 28px;

  font-family: $ff-montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-tangaroa;

  &:hover {
    color: $color-grey-suit;
  }

  &:active {
    color: $color-grey-suit;
  }

  &:focus {
    outline: none;
    color: $color-grey-suit;
  }
}

.contacts__link:hover svg,
.contacts__link:active svg {
  fill: $color-light-steel-blue;
}

.contacts__link:focus svg {
  fill: $color-light-steel-blue;
}

.contacts__link br {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.contacts__link svg {
  position: absolute;
  fill: $color-tangaroa;
  left: 0;

  @include vp-1023 {
    top: 3px;
  }
}

.contacts__link-phone svg {
  @include vp-767 {
    top: 0;
  }
}
