.main__block {
  position: relative;
  background-color: $color-san-marino;
  color: $color-default-black;
  background-image: url("../img/background/main-background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: $color-shadow;

  @include vp-1023 {
    box-shadow: none;
  }

  @media (min-width: $vp-1024) {
    @include retina {
      background-image: url("../img/background/main-background-desktop@2x.jpg");
    }
  }

  @include vp-1023 {
    background-image: url("../img/background/main-background-tablet.jpg");

    @include retina {
      background-image: url("../img/background/main-background-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/background/main-background-mobile.jpg");

    @include retina {
      background-image: url("../img/background/main-background-mobile@2x.jpg");
    }
  }
}

.main__block__wrapper {
  display: inline-block;
  vertical-align: middle;
  padding: 270px 0 279px 8%;

  @include vp-1023 {
    padding: 270px 0 274px 0;
  }

  @include vp-767 {
    padding: 176px 0 178px;
  }
}

.main__block__wrapper h2 {
  margin: 0 0 11px 0;
  padding: 0;
  font-family: $ff-montserrat;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-alice-blue;
  text-shadow: $color-shadow;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 125%;
  }
}

.main__block__wrapper p {
  margin: 0;
  padding: 0;
  font-family: $ff-montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;
  text-shadow: $color-shadow;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 140%;
    max-width: 232px;
  }
}
